#xv6 exec
*.tex 
*.dvi 
*.idx 
*.aux 
*.log 
*.ind 
*.ilg
*.o 
*.d 
*.asm 
*.sym
xv6/*.tex 
xv6/*.dvi 
xv6/*.idx 
xv6/*.aux 
xv6/*.log 
xv6/*.ind 
xv6/*.ilg
xv6/*.o 
xv6/*.d 
xv6/*.asm
xv6/*.sym


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Temp files of some editors
*~
